{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block title %}login{% endblock title %}


{% block content %}

    <body class="text-center">

    <main class="form-login">
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% else %}
            <h1 class="h3 mb-3 fw-normal">{{ context }}</h1>
        {% endif %}

        <form method="post">{% csrf_token %}

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username"
                       placeholder="name@example.com">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                       placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
    </body>

{% endblock content %}